header{
    display:flex;
    justify-content: space-between;
    background-color: aquamarine;

}
header img{
    height: 100px;
    width: 100px;
}

.container{
    margin:0 auto;
    width: 80%;


}

